.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
.form-group label {
  margin-bottom: 0.5rem;
}
.form-group input, .form-group select, .form-group textarea {
  margin-bottom: 0.5rem;
}
.form-group input, .form-group select, .form-group textarea {
  width: 100%;
}
.add-button {
  margin-top: 1rem;
}



.form-control {
  background-color: #fefcfc;
  color: #333333;
}
