<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên đăng nhập</th>
      <th scope="col">Họ và tên</th>
      <th scope="col">Email</th>
      <th scope="col">Vai trò</th>
      <th scope="col">Sửa</th>
      <th scope="col">Xoá</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>thaiduong123</td>
      <td>Nguyễn Thái Dương</td>
      <td>duong@gmail.com</td>
      <td>Nhân viên</td>
      <td><a href="#" class="btn btn-success text-bg-success text-decoration-none">Sửa</a></td>
      <td><a href="#" class="btn btn-danger text-bg-danger text-decoration-none">Xoá</a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>phihaodomdom</td>
      <td>Trần Phi Hào</td>
      <td>haodomdomj97@gmail.com</td>
      <td>Khách hàng</td>
      <td><a href="#" class="btn btn-success text-bg-success text-decoration-none">Sửa</a></td>
      <td><a href="#" class="btn btn-danger text-bg-danger text-decoration-none">Xoá</a></td>
    </tr>
  </tbody>
</table>
